<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Inscription</title>
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <div class="op">

            <div class="rounded-red top">
                <h1>XDDP</h1>
                <h1 id="title-page">Inscription</h1>
            </div>
            <div class="pokeball-form">
                <img src="assets/img/pokeball.png" alt="">
                <div class="form-container">
                    <form action="" method="post">
                        <input type="text" placeholder="Identifiant" name="username">
                        <input type="password" placeholder="Mot de passe" name="pwd">
                        <input type="submit" value="Devenir un dresseur de pokémeons">
                    </form>
                </div>
            </div>
            <div class="rounded-red bottom">
                <p><a href="connection.html">Déjà un dresseur</a></p>
            </div>
        </div>
    </body>
</html>