#content{
    background-image: url("../assets/img/map2phone.png");
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    background-repeat: no-repeat; 
    grid-area: content;
    background-color: white;
    margin: 15px;
    border-radius: 15px;
    box-shadow: 0px 0px 13px 0px black;
}

#content_map1{
    background:linear-gradient(#0b753b, #19683d);
    color: white;
    text-shadow: 0px 2px 7px black;
    padding: 20px;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    position: relative;
    top: 410px; left: 200px;
}#content_map1:hover{
    background:linear-gradient(#29b86b, #44b97f);
    cursor: pointer;
}

#content_map2{
    background:linear-gradient(#6d4c0f, #6d4e19);
    color: white;
    text-shadow: 0px 2px 7px black;
    padding: 20px;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    position: relative;
    top: 250px; left: 125px;
}#content_map2:hover{
    background:linear-gradient(#af8027, #cf8b16);
    cursor: pointer;
}

#content_map3{
    background:linear-gradient(#3651c7, #102dad);
    color: white;
    text-shadow: 0px 2px 7px black;
    padding: 20px;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    position: relative;
    top: 180px; left: 500px;
}#content_map3:hover{
    background:linear-gradient(#6b7fda, #2e51f0);
    cursor: pointer;
}

#content_map4{
    background:linear-gradient(#630404, #8f1111);
    color: white;
    text-shadow: 0px 2px 7px black;
    padding: 20px;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    position: relative;
    top: 25px; left: -50px;
}#content_map4:hover{
    background:linear-gradient(#c51010, #b41515);
    cursor: pointer;
}

#content_map5{
    background:linear-gradient(#ae5a5a, #be5858);
    color: white;
    text-shadow: 0px 2px 7px black;
    padding: 20px;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    position: relative;
    top: 350px; right: 70px;
}#content_map5:hover{
    background:linear-gradient(#c26767, #c76d6d);
    cursor: pointer;
}

#content_map6{
    background:linear-gradient(#504759, #5a4f66);
    color: white;
    text-shadow: 0px 2px 7px black;
    padding: 20px;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    position: relative;
    top: 50px; right: 40px;
}#content_map6:hover{
    background:linear-gradient(#f50000, #f50000);
    color: transparent;
    text-shadow: 0px 0px 0px transparent;
    cursor: pointer;
}